.instagram-footer {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 50px;
}
.feed-widget {
	overflow: hidden;
}
.pic {
	float: left;
	width: 20%;
	height: 300px;
}
.pic img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (max-width: 601px) {
	.instagram-footer {
		display: none;
	}
}
