@media only screen and (min-width: 761px) {
	.mobile-menu {
		display: none !important;
	}
}
.mobile-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.mobile-hihi {
	display: none;
}
.list-menu {
	display: block;
	color: #333;
	background-color: #FFF7B0;
	width: 100%;
	border: solid 1px #C3C3C3;
	text-align: center;
	padding: 0px 20px;
}
#icon-menu {
	font-size: 40px;
	display: block;
	padding: 0px 10px;
	color: #333;
}
.mobile-menu a:hover {
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
